/*  */
.auth-page-container {
    padding: 10px 30px;
    height: 100vh;
    background-image: url("../../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*  */
@media screen and (min-width: 720px) {
    .auth-page-container {
        padding: 10px 80px;
    }   
}

/*  */
.auth-page-container-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*  */
.auth-page-container-content-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
}

@media screen and (min-width: 720px) {
    .auth-page-container-content-inner {
        width: 25vw;
    }
}

/*  */
.auth-text-bar {
    border-radius: 10px;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border: none !important;
    height: 50px;
    font-family: 'Inter';
    color: black;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
}

/*  */
.auth-text-bar::placeholder {
    font-family: 'Inter';
    color: gray;
    font-weight: 400;
    font-size: 15px;
}