/* imports Roboto Mono font; for title */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.top-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 720px) {
    .top-navigation {
        flex-direction: row;
        justify-content: space-between;
    }   
}

.title {
    font-size: 55px;
    /* line-height: 1 !important; */
    color: white;
    font-family: 'Roboto Mono';
}

.top-navigation-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 20px;
}